/* Empty. Add your own CSS if you like */
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
	background: #000;
}

.bar.bar-stable .title, .bar-stable .button.button-clear {
	color: #fff;
}

.bar.bar-stable {
	border-color: #fff;
	background-color: #000;
}

.view-container {
	color: #009EE2;
}