<div id="main_content" class="col-md-9">
	<div class="sectionConteiner col-md-8 col-md-offset-2">
        <!-- <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="assets/img/enterprise/domiciliosco.png" style="width: 96px; height: 96px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">DomiciliosCO</h4>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 96px; height: 96px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Spes Technology, Software &amp; Design</h4>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="assets/img/enterprise/nuvola.png" style="width: 96px; height: 96px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Nuvola</h4>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 96px; height: 96px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Laboratorios Pasteur</h4>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 96px; height: 96px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Inverworld</h4>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="assets/img/enterprise/oncreativity.png" style="width: 96px; height: 96px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">On Creativity</h4>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                </div>
            </li>
        </ul> -->
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="assets/img/enterprise/soluntech.png" style="width: 96px; height: 96px;">
                <div class="caption" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                    <p class="text-center">Soluntech</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="assets/img/enterprise/domiciliosco.png" style="width: 96px; height: 96px;">
                <div class="caption" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                    <p class="text-center">DomiciliosCO</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="assets/img/enterprise/spes.png" style="width: 96px; height: 96px;">
                <div class="caption" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                    <p class="text-center">Spes Technology</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="assets/img/enterprise/nuvola.png" style="width: 96px; height: 96px;">
                <div class="caption" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                    <p class="text-center">Nuvola</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="assets/img/enterprise/pasteur.png" style="width: 96px; height: 96px;">
                <div class="caption" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                    <p class="text-center">Labs. Pasteur</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="assets/img/enterprise/profile.png" style="width: 96px; height: 96px;">
                <div class="caption" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                    <p class="text-center">Inverworld</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="assets/img/enterprise/oncreativity.png" style="width: 96px; height: 96px;">
                <div class="caption" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                    <p class="text-center">On Creativity</p>
                </div>
            </div>
        </div>
    </div>
</div>
