<div id="main_content" class="col-md-9">
    <div class="sectionConteiner col-md-8 col-md-offset-2">
    	<blockquote>
    		<p>{{ lang.title }}</p>
    		<footer>{{ lang.subtitle_1 }}</footer>
    		<footer>{{ lang.subtitle_2 }}</footer>
    		<footer>{{ lang.subtitle_3 }}</footer>
    	</blockquote>
		<p>{{ lang.profile_p1 }}</p>
		<p>{{ lang.profile_p2 }}</p>
		<p>{{ lang.profile_p3 }}</p>
		<p>{{ lang.profile_p4 }}</p>
		<p>{{ lang.profile_p5 }}</p>
		<p>{{ lang.profile_p6 }}</p>
        <p>{{ lang.profile_p7 }}</p>
    </div>
</div>