<div id="main_content" class="col-md-9">
    <div class="jumbotron">
        <h1>{{ lang.skills }}</h1>
        <p>{{ lang.skills_text }}</p>
    </div>

    <ul class="nav nav-pills">
        <li><a>Ionic</a></li>
        <li><a>AngularJs</a></li>
        <li><a>Lungo</a></li>
        <li><a>Php5</a></li>
        <li><a>Web Development</a></li>
        <li><a>Laravel</a></li>
        <li><a>Android</a></li>
        <li><a>JQuery</a></li>
        <li><a>Ruby on Rails</a></li>
        <li><a>Django</a></li>
        <li><a>Ajax</a></li>
        <li><a>Git</a></li>
        <li><a>Software development</a></li>
        <li><a>Heroku</a></li>
        <li><a>Web Design</a></li>
        <li><a>Visual Basic .NET</a></li>
        <li><a>Css3</a></li>
        <li><a>Html5</a></li>
        <li><a>JavaScript</a></li>
        <li><a>CodeIgniter</a></li>
        <li><a>Google Maps API</a></li>
        <li><a>Facebook API</a></li>
        <li><a>Twitter API</a></li>
        <li><a>Oracle</a></li>
        <li><a>Software Architect</a></li>
        <li><a>Oracle PL/SQL</a></li>
        <li><a>PostgreSQL</a></li>
        <li><a>MySQL</a></li>
        <li><a>Scroll Parallax</a></li>
        <li><a>Joomla</a></li>
        <li><a>Drupal</a></li>
        <li><a>WordPress</a></li>
        <li><a>MVC</a></li>
        <li><a>MTV</a></li>
        <li><a>Twitter Bootstrap</a></li>
        <li><a>phpMyAdmin</a></li>
        <li><a>Web Services</a></li>
        <li><a>JSON</a></li>
        <li><a>CMS</a></li>
        <li><a>Stylus</a></li>
        <li><a>Sass</a></li>
        <li><a>Halm</a></li>
        <li><a>PhoneGap</a></li>
        <li><a>Responsive Design</a></li>
        <li><a>Subversion</a></li>
        <li><a>Perforce</a></li>
        <li><a>TCP/IP</a></li>
        <li><a>YouTube API</a></li>
        <li><a>UML</a></li>
        <li><a>XML</a></li>
    </ul>
</div>