<ion-view view-title="AltiviaOT">
  	<ion-content>
	  	<ion-tabs class="tabs-positive tabs-icon-top">
	        <ion-tab title="Inicio" icon="ion-home">
	            <ion-content padding="true" class="has-header">
		    		<img src="https://dl.dropboxusercontent.com/u/57960869/Altiviaot/mobile/logotipo.png">
					<h3>Mision</h3>
				    <div>
				        <p>Ofrecer un servicio con calidad, excelencia y profesionalismo además de un soporte técnico y las tarifas más competitivas para convertirnos en el líder de la comunidad latinoamericana en el ámbito de innovaciones en tecnología web.
				        </p>
				        <h3>Vision</h3>
				    </div>
				    <div>
				        <p>Ser el número uno en el mundo del web, manteniendo una alta calidad y servicio en nuestros productos, orientados a la búsqueda de tecnologías apropiadas que garantice su crecimiento como empresa para así lograr que Ud. logre su meta.
				        </p>
				        <h3>Quienes Somos?</h3>
				    </div>
				    <div>
				        <p>Somos 100% Colombianos, comprometidos con la visión de poder ofrecer servicios web a nivel global, con los más altos estándares de calidad y a los mejores precios del mercado.</p>

				        <p>Empezamos con la iniciativa, siendo un grupo de estudiantes vinculados al mundo web, y con el deseo de brindarle a la comunidad la oportunidad no solo de iniciar sino también de poder ampliar su propio negocio en internet.</p>

				        <p>Nuestra misión está orientada a brindarles los mejores servicios en el mundo web, y nos sentimos en el deber de realizar una mejor labor cada día.
				        </p>
				        <h3>¿Por qué preferirnos?</h3>
				    </div>
				    <div>
				        <p>Manejamos una línea de estándares y servicios que nos posicionan muy bien en el mercado, manejado diseños sencillos y profesionales a su medida además de una variedad de plataformas que nos ayudan a solucionar sus inconvenientes. Somos
				            una empresa, pero también somos parte de su empresa, somos su soporte, somos parte de Ud., y queremos lo mejor para su empresa, crecer junto a usted y ser su aliado en todo momento es nuestra primera meta, querer que Ud. y su empresa
				            se fortalezcan en el mundo web.
				        </p>
				    </div>
				</ion-content>
        	</ion-tab>
        	<ion-tab title="Servicios" icon="ion-ios7-cart">
	            <ion-content padding="true" class="has-header">
	                <h2>Nuestros Servicios</h2>
	                <div>
	                    <p>Nosotros ofrecemos multiples servicio, a continuacion encontraras una lista de nuestros servicios.</p>
	                </div>
	                <ion-list>
	                    <ion-item href="#/modal">Aplicaciones Mobiles</ion-item>
	                    <ion-item href="#/modal">Aplicaiones Web</ion-item>
	                    <ion-item href="#/modal">Consultrias</ion-item>
	                    <ion-item href="#/modal">Dominios</ion-item>
	                    <ion-item href="#/modal">Landing Pages</ion-item>
	                    <ion-item href="#/modal">Markup</ion-item>
	                    <ion-item href="#/modal">Servidores</ion-item>
	                    <ion-item href="#/modal">Sitios Web</ion-item>
	                    <ion-item href="#/modal">Welcome Pages</ion-item>
	                </ion-list>
	            </ion-content>
	        </ion-tab>
	        <ion-tab title="Contacto" icon="ion-ios7-location">
	            <ion-content padding="true" class="has-header">
	                <h1>Dejanos saber</h1>
	                <div>
	                    <p>Deseamos saber como podemos ayudarte</p>
	                </div>
	                <form>
	                    <label class="item item-input">
	                        <span class="input-label"></span>
	                        <input type="text" placeholder="Nombres">
	                    </label>
	                    <label class="item item-input">
	                        <span class="input-label"></span>
	                        <input type="text" placeholder="Apellidos">
	                    </label>
	                    <label class="item item-input">
	                        <span class="input-label"></span>
	                        <input type="email" placeholder="Correo">
	                    </label>
	                    <label class="item item-input">
	                        <span class="input-label"></span>
	                        <input type="tel" placeholder="Telefono">
	                    </label>
	                    <label class="item item-input">
	                        <span class="input-label"></span>
	                        <input type="text" placeholder="Asunto">
	                    </label>
	                    <label class="item item-input">
	                        <span class="input-label">Expresalo aqui</span><textarea placeholder="Expresalo aqui"> </textarea>
	                    </label>
	                    <a href="#/modal" class="button button-energized button-block">Enviar</a>
	                </form>
	            </ion-content>
	        </ion-tab>
        </ion-tabs>
  	</ion-content>
</ion-view>